html {
    scroll-behavior: smooth;
  }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
/*HEADER_________________
_______________________*/
.header-wrapper{
    height: 80px;
    width: 100%;
}

.header{
    box-shadow: 2px 4px 10px rgb(65, 63, 63);
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    background-color: #ece1de;
    padding-left: 95px;
    padding-right: 95px;
}
.header-flex-wrap{
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
}
.logo-header{
    cursor: pointer;
    width: 75px;
}
.navs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav1{
    margin-top: 15px;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav1-icon{
    width: 50px;
}
.nav2{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav2-icon{
    width: 50px;
}
.nav3{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav3-icon{
    width: 50px;
}
.nav4{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav4-icon{
    width: 50px;
}
.nav5{
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav5-icon{
    width: 50px;
}
.nav1-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav2-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav3-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav4-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav5-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}

/*CUPCAKES_________________
_______________________*/
.wrapper1{
    padding-left: 95px;
    padding-right: 95px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%;
    height: 800px;
    
}
.cupcakes-wrapper{
    width: 600px;
    height: 640px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cupcakes-prev{
    width: 50px;
    height: 50px;
}
.cupcakes-next{
    width: 50px;
    height: 50px;
}
.cupcakes{
    width: 100%;
    overflow: hidden;
}
.cupcakes-slider{
    box-shadow: 2px 4px 30px #000;
    margin: 30px auto;
    width: 358px;
    height: 640px;
    overflow: hidden;
}
.cupcakes-slider-line{
    margin: 0 auto;
    left: 0;
    transition: all ease 1s;
    display: flex;
    position: relative; 
}
.cupcake1{
    width: 358px;
    height: 640px;
}
.cupcake2{
    width: 358px;
    height: 640px;
}
.cupcake3{
    width: 358px;
    height: 640px;
}
.cupcake4{
    width: 358px;
    height: 640px;
}

.cupcakes-h1{
    text-transform: uppercase;
    font-size: 60px;
    color: #484f5b;
}

